body {
  margin: 0;
  padding: 0;
  background-color: #000000e1;
  font-size: medium;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
